.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f87fca, #d46bbe);
    margin: 0px;
}



.header {
    font-family: cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f356b7;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li {
    font-size: 18px;
}

.nav a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #4e6ed6;
}

/*
BOTON CONNECT
*/
.connectButton {
    padding: 10px 20px;
    border: none;
    background-color: #4e6ed6;
    color: #fff;
    cursor: pointer;
}

.connectButton:hover {
    background-color: #244dd6;
}

/*CONTAINER GENERAL*/
.containerGeneral {
    width: 100%;
    border: 0px solid #4e6ed6;
    border-radius: 15px;
}

/*
CONTAINER HOME  
*/
.containerHome {
    display: flex;
    flex-direction: row;
    /* Cambiamos de column a row */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    padding: 0px;
    padding-top: 150px;
    margin: 0px;
    /* Restamos el margen izquierdo y derecho */
    width: 100%;
}

.containerHome1,
.containerHome2 {
    margin: 50px;
    flex: 1;
    padding: 10px;
    font-family: cursive;
    color: white;
    /* Añadimos un borde derecho a containerHome1 */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    font-size: 28px;
    text-align: center;
}

/*
CONTAINER HOME 1
*/
.containerHome1 h2 {
    font-size: 40px;
}

/*
CONTAINER HOME 2
*/
.containerHome2 h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    border-bottom: 5px solid #4e6ed6;
    /* Cambia el color y el grosor del borde según sea necesario */
    padding-bottom: 10px;
    /* Ajusta el espaciado inferior del título */
    width: 100%;
    /* Hace que el borde inferior ocupe todo el ancho del contenedor */
    box-sizing: border-box;
    /* Incluye el borde en el ancho total */
}

/*
BARRA PROGRESO
*/
.containerHome2 .progress {
    height: 20px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.containerHome2 .progress .progressBar {
    height: 100%;
    background-color: #2750d4;
    width: 0;
    /* Este valor se actualizará dinámicamente */
}

.containerHome2 .progress p {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.containerHome2 p span {
    font-weight: bold;
}

/*
IMPUT TEXT
*/
.inputBNB {
    display: flex;
    flex-direction: row;
}

.inputcontainer {
    position: relative;
    display: inline-block;
    color: #4e6ed6;
}

.currency {
    position: flex;
    color: white;
    /* Puedes ajustar el color según el diseño */
}

.inputField {
    padding: 10px;
    background-color: #4e6ed6;
    color: white;
    border: 2px solid #4e6ed6;
    border-radius: 5px;
    width: 100%;
}

.inputField::after {
    content: " BNB";
    /* Agrega el texto " BNB" después del input field */
    color: white;
    /* Color del texto */
    font-size: 20px;
    /* Tamaño de fuente */
    position: absolute;
    /* Establece la posición absoluta */
    /* Posiciona el texto en la mitad vertical */
    transform: translateY(-50%);
    /* Alinea verticalmente el texto */
    right: 10px;
    /* Ajusta el espaciado derecho según sea necesario */
}

/*
EXECUTE BUTTON
*/
.containerHome2 .executeButton {
    /* Ocupa todo el ancho menos los márgenes */
    width: calc(100% - 40px);
    /* Márgenes pequeños */
    margin: 20px;
    /* Fondo rojo */
    background-color: #4e6ed6;
    /* Texto blanco */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.executeButton:hover {
    background-color: #244dd6;
}

/*
ABOUT CONTAINER
*/
.containerAbout {
    display: flex;
    flex-direction: row;
    /* Cambiamos de column a row */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    padding: 150px;
    margin: 0px;
    /* Restamos el margen izquierdo y derecho */
    width: 100%;
}

.containerAbout1,
.containerAbout2 {
    margin: 50px;
    flex: 1;
    padding: 10px;
    font-family: cursive;
    color: white;
    /* Añadimos un borde derecho a containerHome1 */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    line-height: 4;
    font-size: 28px;
    text-align: center;
}

.containerAbout2 img {
    width: 600px;
}

/*
CONTAINER HOW TO BUY
*/
.containerHowToBuy {
    display: flex;
    flex-direction: row;
    /* Cambiamos de column a row */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    padding: 20px;
    padding-top: 100px;
    margin: 0px;
    /* Restamos el margen izquierdo y derecho */
    width: 100%;
}

.containerHowToBuy1,
.containerHowToBuy2,
.containerHowToBuy3,
.containerHowToBuy4 {
    margin: 0px 0px 0px 0px;
    flex: 1;
    padding: 30px;
    font-family: cursive;
    color: white;
    /* Añadimos un borde derecho a containerHome1 */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    font-size: 28px;
    text-align: center;
}

.containerHowToBuy1 img,
.containerHowToBuy2 img,
.containerHowToBuy3 img,
.containerHowToBuy4 img {
    width: 80px;
}

/*
CONTAINER MEME
*/
.containerMeme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas de igual tamaño */
    grid-template-rows: auto auto;
    /* Dos filas automáticas */
    gap: 20px;
    /* Espacio entre las filas y columnas */
    border: 0px solid #4e6ed6;
    border-radius: 15px;
    padding: 20px;
    padding-top: 200px;
    margin: 20px 0;
    /* Margen superior e inferior */
}

.containerMeme1,
.containerMeme2,
.containerMeme3,
.containerMeme4,
.containerMeme5,
.containerMeme6 {
    flex-basis: calc(33.33% - 20px);
    /* Establece el tamaño base de cada subcontenedor */
    /* Resta 20px para tener en cuenta el espacio entre los elementos */
    margin-bottom: 20px;
    /* Espacio entre las filas */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
}


.containerMeme1 img,
.containerMeme2 img,
.containerMeme3 img,
.containerMeme4 img,
.containerMeme5 img,
.containerMeme6 img {
    width: 280px;
}